:root {
    --purple100: #f3e8ff;
    --purple200: #e9d5ff;
    --purple300: #d8b4fe;
    --purple400: #c084fc;
    --purple500: #a855f7;
    --purple600: #9333ea;
    --purple700: #7e22ce;
    --purple800: #6b21a8;
    --purple900: #581c87;
    --purple950: #3b0764;
    --black: #000;
}

/* reset */
* {
    box-sizing: border-box;
    color: var(--purple200);
}

body, p, h1, h2, h3 {
    margin: 0;
    font-family: "Poppins", "sans-serif";
    font-weight: 400;
    
}
a {
    text-decoration: none;
}


/* Selection styles */
body {
    background-color: var(--black); 
}

header {
    width: 100%;
    min-height: 4rem;
}

.section {
    padding: 20px 0;
}
.section-title {
    font-size: 2rem;
}

/* Navigation */
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    background: linear-gradient(217deg, var(--purple950), var(--purple700), var(--black));
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.nav-link {
    transition: font-weight 0.1s ease-in-out;
    
    &:hover {
        font-weight: 600;
        color: var(--purple100);
    }
}

/* Main */
main {
    max-width: 1200px;
    padding: 2rem 16px 16px ;
    margin: 0 auto;
    
}

/* Hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 1rem;
    align-items: center;
    min-height: 50vh;
}

.hero-title {
    font-size: 2.5rem;
    animation: fadeIn 5s;

    @media screen  and (max-width: 768px){
        font-size: 1.5rem;
    }
}

.hero-img-container {
    max-width: 30vw;
}

.hero-img {
    max-width: 100%;
    border-radius: 25% 1%;

    @media screen  and (max-width: 768px){
        display: none;
    }
}

/* call to action */
.cta,
.btn {
    border-radius: 5px;
    text-align: center;
    transition: font-weight 0.1s ease-in-out;
    cursor: pointer;
    animation: fadeIn 5s;
}


.cta-primary {
    display:block;
    width: 200px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--purple700);

    &:hover {
        font-weight: 600;
        background-color: var(--purple600);
    }
}


/* About section */
.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

/* .about-img {
    @media screen  and (max-width: 768px){
        display: none;
    }
} */


/* Services  & Projects sections*/
.services-wrapper ,
.projects-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 25px;


    @media screen  and (max-width: 768px){
        display: block;
    }
}



.services-info-wrapper,
.projects-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 3px solid var(--purple600);
    border-radius: 5px;

    @media screen  and (max-width: 768px){
        margin: 10px;
    }
}

.services-subtitle,
.projects-subtitle {
    margin-bottom: 20px;
    font-size: 1.2rem;
}



/* Contact section */
.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.form-img-container {
    max-width: 50%;

    @media screen  and (max-width: 768px){
        display: none;
    }
}

.form-img {
    max-width: 100%;
    border-radius: 1% 25%;

    @media screen  and (max-width: 768px){
        display: none;
    }
}
.contact-form {
    width: 50%;
    border-radius: 5px;
    padding: 16px;

    & > * + * {
        margin-top: 10px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.contact-form-label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 4px;
}

.contact-form-input, 
.contact-form-textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    outline: 2px solid transparent;
    border: 2px solid var(--purple600);
    color: var(--purple950);

    &:focus-visible {
        outline-color: var(--purple300);
    }
}

.contact-form-textarea {
    resize: none;
    padding: 5px;
}


.project-btn ,
.contact-form-submit-btn {
    outline:none;
    padding: 8px 20px;
    background-color: var(--purple700);
    width: 200px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        font-weight: 600;
        background-color: var(--purple600);
    }
}



footer {
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
}
.footer-subtext {
    font-size: 0.8rem;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }